@media (max-width: 849px) {
    body{
        font-family: 'Comfortaa'; 
        color: white;
        margin: 10px 0px;
        background-color: #333;
        font-size: 3.5vw;
    }

    
    
    .navbar img{ 
        width: 50px; 
        position: relative;
        left: 10px; 
        box-shadow: 0 0 10px black; 
    }
    
    #myLinks{
        display: none;
        position: fixed;
        right: 70px;
        background-color: #50543f;
        border-radius: 10px;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px black;
        z-index: 1;
    }
    
    #myLinks div{
        font-size: 20px;
        font-family: inherit;
        background-color: #50543f;
        color: white;
        border: none;
        margin: 20px 15px;
    }

    ol{
        margin: 25px;
        line-height: 25px;
    }

    
    
    .dropdown-content a{
        color: white;
        padding: 12px 16px;
        display: block;
        text-align: left;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: white;
        line-height: 30px;
        font-size: 4vw;
    }

    .hamburger {
        font-size: 2em;
        color: white;
        position: fixed;
        right: 20px;
        top: 16px;
    }
    
    p{
        line-height: 25px;
        padding: 10px;
        text-align: justify;
    }

    h1{
        color:gold;
        text-align: center;
        font-size: 6vw;
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 55px;
        font-weight: normal; 
    }

    h2{
        color: gold;
        margin-top: 55px;
        text-align: center;
        font-size: 5vw;
        line-height: 1.5em;
        font-weight: normal;
    }
    
    h4{
        color: gold;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 30px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }

    h3:before{
        content: "\f144 ";
        font-family: FontAwesome;
    }

    h2.schoolDiary{
        text-shadow: 10px 10px 20px black;
        font-size: 4vw;
        color: white; 
        text-align: left; 
        padding: 0 20px;
    }
    ul.schoolDiary{
        padding: 0 10%;
    }

    li{
        font-size: 3.5vw;
        line-height: 50px;
    }
    
    .section{
        margin: 15px 15px;
        padding: 10px;
        background-color: #50543f;
    }
    
    p{
        line-height: 30px;
        margin: 10px;
        text-align: justify;
        font-size: 3.5vw;
    }

    
    h3{
        margin-left: 25px;
        margin-right: 25px;
        line-height: 25px;
        text-align: center;
        font-weight: normal;
        font-size: 3.5vw;
    }

    h3 span{
        color: gold;
        display: inline-block;
        font-size: smaller;
        /* padding: 10px; */
        /* border: 1px solid white; */
    }

    
}