@media (max-width: 479px) {
    /* .modal-content{
        display: none;
    } */
    .navbar img{ 
        width: 50px; 
        position: relative;
        left: 10px; 
        box-shadow: 0 0 10px black; 
    }
    
    .section{
        margin: 10px;
        padding: 1px;
        background-color: #50543f;
    }
    .video-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 20px;
    } 
}