body{
    background-color: #50543f;
    color: white;
    font-size: 1em;
}

header{
    color: yellow;
    text-align: center;
}

#alpha, #beta, #gamma {
    width: 3em;
    background-color: #50543f;
    color: white;
    border-radius: 10px;
}

p{
    margin: 2em;
    text-align: justify;
}

#inputs{
    text-align: center;
}

#printRoots, #printDiak{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    background-color: darkolivegreen;
    color: yellow;
    border-radius: 10px;
    border: white solid 1px;
    visibility: hidden;
}

#printDiak{
    width: 30%;
}
    