@media (min-width: 480px) {

    body {
        font-family: 'Comfortaa';
        color: white;
        background-color: #333;
    }


    .navbar {
        display: flex;
        background-color: #333;
        align-items: center;
        position: sticky;
        top: 0px;
        z-index: +2;
    }


    .navbar img {
        height: 70px;
        border: 1px solid black;
        position: relative;
        top: 5px;
        left: 5px;
        bottom: 5px;
        box-shadow: 0 0 10px black;

    }

    .navbar div {
        background-color: #333;
        margin-left: 20px;
        color: white;
        font-family: 'Comfortaa';
    }

    .hamburger {
        display: none;
    }


    .navbar div:hover {
        cursor: pointer;
    }



    .dropdownMenu {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #50543f;
        border-radius: 10px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px black;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        display: block;
        text-align: left;
    }

    .main {
        margin: 50px 30px;
        display: grid;
    }

    .section {
        display: block;
        background-color: #50543f;
        border-radius: 10px;
        box-shadow: 0px 0px 20px black;
        margin: 30px;
    }

    a {
        text-decoration: none;
        line-height: 30px;
        color: white;
        font-size: 12pt;
    }

    p{
        font-size: 12pt;
        padding: 20px;
        margin: 0; 
        line-height: 1.5em; 
    }

    a:hover {
        cursor: pointer;
    }

    ol,ul {
        margin: 25px;
        line-height: 25px;
    }

    li {
        margin-top: 20px;
    }

    h1 {
        color: gold;
        text-align: center;
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 55px;
        font-weight: normal;
    }

    h2 {
        color: gold;
        text-align: center;
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
    }

    h2.schoolDiary {
        text-shadow: 10px 10px 20px black;
        color: gold;
        text-align: left;
        padding: 0 50px;
    }

    ul.schoolDiary {
        padding: 0 10%;
    }


    h3 {
        color: white;
        text-align: left;
        font-size: inherit;
        padding: 0 50px;
        line-height: 30px;
        font-weight: normal;
    }

    h3 span {
        color: gold;
        display: inline-block;
        font-size: smaller;
    }


    h3:before {
        content: "\f144";
        font-family: FontAwesome;
    }

    h3:hover {
        cursor: pointer;
    }


    h4 {
        text-align: center;
        line-height: 35px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: normal;
    }

    h5 {
        color: white;
        padding-left: 30px;
        font-weight: normal;
    }

    p.schoolDiary{
        font-size: 10pt;
        padding: 20px;
        margin: 0;

    }
    .schoolDiary a{
        color: gold;
        font-size: inherit;
    }
}