body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    background-color:rgb(129, 129, 129);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


.brand{
    color: orange;
    text-shadow:5px 3px 4px gray;
}

.main{
    grid-area: main;
    text-align: left;
    background-color: #50543f;    
}

h1, h2, h3{
    color:rgb(240, 198, 11)   ;
    text-align: center;
}


p{
    line-height: 30px;
}
   

.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: auto;
    width: 70%;
    z-index: 0;
}

.video iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

.footer{
    margin-top: 5px;
    grid-area: footer;
    font-size: 0.6em;
    text-align: center;
    color: black;
}

@media (min-width: 850px) {
    body{
         padding: 10px 50px;   
         font-size: 18px;
         display: grid;
         grid-template-areas: 
         'header header header header header'
         'side main main main main'
         'footer footer footer footer footer';
         grid-gap: 20px;
    } 

    .side{
        grid-area: side;
        font-size: 0.8em;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: linear-gradient(#50543f,lightgray);
        background-color: #50543f;
        border-radius: 20px;
    }

    .main{
        border-radius: 20px;
        padding: 50px;
    }
    
    .side > div{
        padding: 10px;
    }
 
    .header{
         grid-area: header;
         height: 300px;
         text-align: center;
         background:url("header.jpg");
         background-size: cover;
         position: relative;
     }

     .brand{
        display: block;
        position: absolute;
        bottom: -50px;
        font-size: 6em;
    }
 
     li{
         margin-bottom: 30px;
     }

     .topnav{
         display: none;
     }

     a:hover{
        width: 100%;
        font-size: 1.2em;
        color: orange;
    
    }
}


@media (max-width: 849px ) {
    .side, .header{
        display: none;
    }

    .brand{
        font-size: 2.5em;
        text-align: left;
        padding: 5px;
    }

    .topnav {
        overflow: hidden;
        background-color: #50543f;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        border: 1px solid white;
    }

        /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        z-index: 100;
    }

        /* Style navigation menu links */
    #myLinks a {
        color: white;
        font-size: 14px;
        padding: 10px;
        display: block;
        z-index: 100;
        
    }

        /* Style the hamburger menu */
    .topnav a.icon {
        background: #50543f;
        color: white;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2em;
    }


        /* Style the active link (or home/logo) */
    .active {
        color: orange;
    }

    body{
        padding: 5px 5px;   
        font-size: 14px;
    }

    li{
        margin-bottom: 20px;
    }

    .main{
        padding: 10px;
    }
}