body{
    font-family: 'Comfortaa', cursive; 
    color: #E9EAE7;
    margin: 0px;
}

.caption{
    text-align: center;
    margin-top: 5px;
    font-size: small;
    color: yellow;
    
}

.section{
    background-color: #50543f;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.modalBtn{
    background-color: #50543f;
    width: 100%;
    color: white;
    font-family: 'Comfortaa';
    font-size: 16px;
    cursor: pointer;
    padding: 20px;
    text-align: left;
    border: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #50543f;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    font-size: 14px;
    width: 60%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 10px lightcyan;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


a{
    text-decoration: none;
    color: white;
}


.brand{
    color: orange;
    text-shadow:2px 3px 4px wheat;
}

.main{
    background-color: #7b8067;    
}

h1, h2, h3, h4, h5{
    color:rgb(240, 198, 11)   ;
    text-align: center;
    padding: 18px;
    line-height: 55px;
}
h6{
    color:rgb(240, 198, 11)   ;
    text-align: left; 
}


p{
    line-height: 30px;
    padding: 20px;
    word-wrap: normal;
}



   

.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: auto;
    width: 90%;
    z-index: 0;
}

video,.video iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;    
}



@media (min-width: 850px) {
    body{
         padding: 10px 50px;   
         font-size: 18px;
         background-color: rgba(0, 0, 0, 0.5)   ;
         display: grid;
         grid-template-areas: 
         'header header header header header'
         'side main main main main'
         'footer footer footer footer footer';
         grid-gap: 20px;
    } 

    .side{
        max-width: 300px;
        grid-area: side;
        font-size: 0.8em;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: linear-gradient(#50543f,#E9EAE7);
        border-radius: 20px;
    }

    .main{
        border-radius: 20px;
        padding: 50px;
    }
    
    .side > a{
        padding: 10px;
    }
 
    .header{
         grid-area: header;
         height: 300px;
         text-align: center;
         background:url("header.jpg");
         background-size: cover;
         position: relative;
     }

     .brand{
        display: block;
        position: absolute;
        bottom: -50px;
        font-size: 6em;
    }
 
     li{
         margin-bottom: 30px;
     }

     

     a:hover{
        width: 100%;
        font-size: 1.2em;
        color: orange;
    
    }

    .footer{
        margin-top: 5px;
        grid-area: footer;
        font-size: 0.6em;
        text-align: center;
        color: black;
    }

    .topnav{
        display: none;
    }
}

@media (max-width: 849px) {
    .side{
        display: none;
    } 
    
    .header{
        display: none;
    }

    .brand{
        font-size: 1.4em;
        color: gold;
    }

    body{
        background-color: #50543f;
    }

    .main{
        margin: 5px auto;
        width: 95%;
        border-radius: 10px;
    }

    .modal-content{
        width: 80%;
    }

    .footer{
        text-align: center;
        font-size: x-small;
        margin-top: 10px;
        color:yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        background-color: #333;
        /* background-image:url("header.jpg");        
        background-size: cover; */
        width: 100%;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: #333;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #333;
        border-radius: 10px;
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}